html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: dimgrey;
}

.menu-icon{
    display: none;
    float: left;
}

.menu-icon>img{
    width: 50px;
    height: 50px;
}

.container_home{
    width: 100%;
    height: 100%;
    background: url(mainpic.jpg) no-repeat center fixed ;
    background-size: cover;
    display: table;
    top: 0;
}

.navbar li{
    list-style-type: none;
    display: inline;
    margin-left: 17%;
    font-family: Prociono;
    font-weight: 700;
    
}

.navbar li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding-top: 4px;
}

.navbar li a:hover{
    color: deepskyblue;
}

.mobname{
    float: right;
    clear: both;
    margin-right: 10%;
    margin-top: 15%;
    color: ghostwhite;
    /*border: 1px solid black;*/
}

.mobname h1{
    font-family: Jacques Francois Shadow;
    margin: 0;
    font-size: 500%;
    opacity: 0.8;
}

span{
    font-family: Ruthie;
}

.description{
    clear: both;
    float: left;
    width: 60%;
    margin-top: 15%;
}

.description p{
    margin: 0;
    padding: 0;
    color: ghostwhite;
    font-size: 150%;
    font-family: Cormorant Infant;
    text-align: justify;
    opacity: 0.6;
}

.container_spec{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 800px;
    background: url(spec.jpg) no-repeat center;
    background-size: cover;
    float: left;
}

.container_gal{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 650px;
    background: url(galpic.jpeg) no-repeat center fixed;
    background-size: cover;
    float: left;
    clear: both;
}

.picholder{
    width: 20%;
    height: 150px;
    float: left;
    margin: 77px;
}

.picholder img{
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.picholder img:hover{
    transform: scale(1.5);
}

.container_buy{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    clear: both;
    /*background-color: #ffff32;*/
}

.mobile{
    width: 35%;
    height: 455px;
    float: left;
    clear: both;
    margin-top: 7%;
    margin-left: 13%;
}

.mobile img{
    width: 100%;
    height: 100%;
    
}

.option1{
    width: 27%;
    height: 100px;
    float: right;
    margin-right: 17%;
    margin-top: 7%;
}

.option1 .icon{
    margin-left: 47%;
}

.icon i{
    padding: 35px;
    font-size: 350%;
    color: black;
    transition: transform 1s;
}

.icon i:hover{
    color: darkgrey;
    transform: scale(1.5);
}

p{
    font-family: Cormorant Infant;
    font-size: 30px;
}

/*.goback {
    width: 10%;
    height: 40px;
    float: right;
    clear: both;
}

.goback a{
    text-decoration: none;
    color: dimgrey;
}

.goback a:hover{
    color: black;
}
*/
.footer{
    width: 100%;
    height: 60px;
    float: left;
    clear: both;
   background-color: dimgrey;
    margin-top: 30px;
}

.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li{
    color: snow;
    display: inline;
    float: left;
    margin-left: 25%;
    padding-top: 15px;
    font-size: 147%;
}

.footer ul li a {
    color: snow;
}

.footer ul li a:hover{
    color: lightgrey;
}

@media screen and (max-width:768px){
    .container_home{
        width: 100%;
        height: 100%;
    }
    
    .navbar li{
        margin-left: 8%;
        
    }

    .menu-icon{
    display: block;
    }
    
    .mobname {
        margin-right: 3%;
        margin-top: 60%;
    }
    
    .mobname h1{
        font-size: 300%;      
    }
    
    .description{
        margin-top: 45%;
        width: 100%;
    }
    
    .description p{
        padding: 0 12px 0 12px;
    }
    
    .container_spec{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 670px;
        background: url(formobile_copy.jpg) no-repeat center;
        background-size: cover;
    }
    
    .container_gal{
        width: 100%;
        height: 100%;
    }
    
    .picholder{
        width: 30%;
        height: 130px;
        margin: 35px;
        padding-top: 20px;
        display: inline;
        float: left;      
    }
    
    .container_buy{
        width: 100%;
        height: 100%;         
    }
    
    .mobile{
        width: 70%;
        height: 270px;
        clear: both;
    }
    
    .option1 p {
        display: none;
    }
    
    .option1 {
        margin-right: 175px;
    } 
    
    .icon i{
         
    } 
    
    .footer{
        margin-top: 184px;
    }   
}

























